body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.images {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-gap: 2rem;

    img {
        justify-self: center;
    }
}